.form
{
    display: flex;
    flex-direction: column;
    gap:15px;
}
.buton button
{
    margin-top: 20px;
    width: 100%;
    background: none;
    outline: none;
    background-color: #9b59b6;
    border: none;
    padding: 10px;
cursor: pointer;
color: whitesmoke;
}